<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Homepage Teknisi</title>
        <link rel="stylesheet" href="style.css"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    </head>

    <body>

        <!-- logo -->
        <div container mt-4>
            <div class="logoc">
                <img src="materialC\Logo CekDong 1.png" alt="logo" class="logo">
            </div>
        </div>

        <!-- title -->
        <div class="title-container">
            <h3>HomePage Teknisi</h3>
        </div>

        <!-- alat yang disewa -->
        <div class="sub-title">
            <div>
                ALAT YANG DISEWA
            </div>
        </div>
    
        <div class="container px-5">
            <div class="catalog">
                <img src="materialC\ca71f4be447450ca7d536cd01cf03055 1.png" class="catalog-image">
                <div class = "catalog-product">Sony Cinema Line</div>
                <div class = "catalog-status">
                    <span>Dipinjam, kembali 10/12/24</span>
                </div>
            </div>
            <div class="catalog">
                <img src="materialC\ca71f4be447450ca7d536cd01cf03055 1.png" class="catalog-image">
                <div class = "catalog-product">Sony Cinema Line</div>
                <div class = "catalog-status">
                    <span>Dipinjam, kembali 10/12/24</span>
                </div>
            </div>
            <div class="catalog">
                <img src="materialC\ca71f4be447450ca7d536cd01cf03055 1.png" class="catalog-image">
                <div class = "catalog-product">Sony Cinema Line</div>
                <div class = "catalog-status">
                    <span>Dipinjam, kembali 10/12/24</span>
                </div>
            </div>
            <div class="catalog">
                <img src="materialC\ca71f4be447450ca7d536cd01cf03055 1.png" class="catalog-image">
                <div class = "catalog-product">Sony Cinema Line</div>
                <div class = "catalog-status">
                    <span>Dipinjam, kembali 10/12/24</span>
                </div>
            </div>
        </div>

        <div class="button-container">
            <button class="btn btn-primary">Cek alat</button>
        </div>

        <!-- Menunnggu persetujuan -->

        <div class="sub-title">
            <div>
                MENUNGGU PERSETUJUAN
            </div>  
        </div>

        <div class="container px-5">
            <div class="catalog">
                <img src="materialC\ca71f4be447450ca7d536cd01cf03055 1.png" class="catalog-image">
                <div class = "catalog-product">Sony Cinema Line</div>
                <div class = "catalog-status">
                    <span>Dipinjam, kembali 10/12/24</span>
                </div>
            </div>
            <div class="catalog">
                <img src="materialC\ca71f4be447450ca7d536cd01cf03055 1.png" class="catalog-image">
                <div class = "catalog-product">Sony Cinema Line</div>
                <div class = "catalog-status">
                    <span>Dipinjam, kembali 10/12/24</span>
                </div>
            </div>
            <div class="catalog">
                <img src="materialC\ca71f4be447450ca7d536cd01cf03055 1.png" class="catalog-image">
                <div class = "catalog-product">Sony Cinema Line</div>
                <div class = "catalog-status">
                    <span>Dipinjam, kembali 10/12/24</span>
                </div>
            </div>
            <div class="catalog">
                <img src="materialC\ca71f4be447450ca7d536cd01cf03055 1.png" class="catalog-image">
                <div class = "catalog-product">Sony Cinema Line</div>
                <div class = "catalog-status">
                    <span>Dipinjam, kembali 10/12/24</span>
                </div>
            </div>





        <!-- <div class="container pt-5">
            <div class="col-md-3">
                <img src="materialC\2-removebg-preview 1.png" class="product-image">
                <div class="product-info">
                    <h6>Sony Cinema Line</h6>
                    <p>Dipinjam, kembali pada 10/12/24</p>
                </div>

        </div> -->
          

            </div> 
        </div>
    </body>
</html>